<!-- &*&*&*&*&*&*&*&*&*& MAIN - INICIO *&*&*&*&*&*&*&*&*&* -->
<main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        <h1>O Rolê</h1>
<br>
<br>
<div id="historia-bloco">
        <p id="historia">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis facilis rem sequi modi sapiente dignissimos quo iste,
illo distinctio atque eveniet porro voluptatibus harum quod obcaecati velit repellendus sunt soluta.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam necessitatibus, ullam, voluptatum quasi dignissimos
autem provident saepe ad fugit consequuntur ipsa amet quas odio, facere aut laudantium. Dolores, quos dolore.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet totam necessitatibus laborum, numquam, facere, earum
veritatis fugit in aliquam mollitia fugiat! Libero excepturi incidunt voluptate vitae illum, vero voluptas fugit.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis omnis iusto consectetur pariatur, consequatur fugit
ex, excepturi in quo sit mollitia inventore blanditiis animi, minima nobis saepe optio tenetur quae?
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea autem impedit doloribus deleniti nam maxime labore dolorum
mollitia, architecto earum, facere, magnam est? Nihil veritatis beatae a ea porro iste!
        </p>
</div>
<br>
<br>
<hr>
        </main>

<script>
        function myFunction() {
        var x = document.getElementById("go");
        if (x.className === "topnav") {
                x.className += " responsive";
                if (x.className === "topnav responsive"){
                document.getElementById("go").style.paddingBottom = "23em";
                document.getElementById("go").style.fontSize = "2.5em";
                document.getElementById("go").style.backgroundColor = "black";
                document.getElementById("go").style.margin = "0em";
                
                }
        } else {
                x.className = "topnav";
                document.getElementById("go").style.paddingBottom = "0";
                document.getElementById("go").style.fontSize = "1.3em";
                document.getElementById("go").style.backgroundColor = "transparent";
                document.getElementById("go").style.margin = "0em";
                
        }
        }
</script>


<!-- &*&*&*&*&*&*&*&*&*& MAIN - FIM *&*&*&*&*&*&*&*&*&* -->  


