<main>
    <br>
    <br>
    <br>
    <br>
    
    <div>
        <h1>Nosso espaço</h1>
    </div>
    
    <br>
    <br>
    <!--TESTE GALERIA  -->
    <!-- Images used to open the lightbox -->
    <div class="row">
        <div class="column">
            <img src="~/img/e1.png" onclick="openModal();currentSlide(1)" class="hover-shadow">
        </div>
        <div class="column">
            <img src="~/img/e3.png" onclick="openModal();currentSlide(2)" class="hover-shadow">
        </div>
        <div class="column">
            <img src="~/img/e1.png" onclick="openModal();currentSlide(3)" class="hover-shadow">
        </div>
        <div class="column">
            <img src="~/img/e3.png" onclick="openModal();currentSlide(4)" class="hover-shadow">
        </div>
    </div>

    <!-- The Modal/Lightbox -->
    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            <div class="mySlides">
                <div class="numbertext">
                    1 / 4
                </div>
                <img src="~/img/e1.png">
            </div>
            
            <div class="mySlides">
                <div class="numbertext">
                    2 / 4
                </div>
                <img src="~/img/e3.png">
            </div>

            <div class="mySlides">
                <div class="numbertext">
                    3 / 4
                </div>
                <img src="~/img/e1.png">
            </div>

            <div class="mySlides">
                <div class="numbertext">
                    4 / 4
                </div>
                <img src="~/img/e3.png">
            </div>
        
            <!-- Next/previous controls -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Caption text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <!-- Thumbnail image controls -->
            <div class="column">
                <img class="demo" src="~/img/e1.png" onclick="currentSlide(1)" alt="Entrada">
            </div>

            <div class="column">
                <img class="demo" src="~/img/e3.png" onclick="currentSlide(2)" alt="Bar">
            </div>

            <div class="column">
                <img class="demo" src="~/img/e1.png" onclick="currentSlide(3)" alt="Entrada">
            </div>

            <div class="column">
                <img class="demo" src="~/img/e3.png" onclick="currentSlide(4)" alt="Bar">
            </div>
        </div>
    </div>
    <!--TESTE GALERIA  -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
</main>

<script>
        function myFunction() {
        var x = document.getElementById("go");
        if (x.className === "topnav") {
                x.className += " responsive";
                if (x.className === "topnav responsive"){
                document.getElementById("go").style.paddingBottom = "23em";
                document.getElementById("go").style.fontSize = "2.5em";
                document.getElementById("go").style.backgroundColor = "black";
                document.getElementById("go").style.margin = "0em";
                
                }
        } else {
                x.className = "topnav";
                document.getElementById("go").style.paddingBottom = "0";
                document.getElementById("go").style.fontSize = "1.3em";
                document.getElementById("go").style.backgroundColor = "transparent";
                document.getElementById("go").style.margin = "0em";
                
        }
        }
</script>